# Temporary test directory
.tests

# Quick testing directory for local development
.scratch

# Take notes for any potential thing to remember
.notes

# Docs helptags file
doc/tags

# python env
.venv

# python cache
__pycache__
